@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar-track
{
	background-color: #DEE1E6;
}

.custom-scrollbar::-webkit-scrollbar
{
  height: 5px;
  background-color: #dfe6e9;
}

.custom-scrollbar::-webkit-scrollbar-thumb
{
	background-color: #0060FF;
	border-radius: 10px;
  height: 2px;
}

